body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #863131;
    color: white;
    
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Cormorant SC', serif;
  margin-top: 3%;
  width: 100%;
  top: 0;
  left: 0;
}

button {
border-radius: 15px;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  background-color: rgb(70, 14, 14);
  cursor: pointer;
}
nav a {
  color: white;
  text-decoration: none;
}


@media (max-width: 768px) {
    nav{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    section {
        padding: 20px;
    }
}